<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>글 작성하기</h1>
	<hr>
	<form action="/writeBoard" method="POST">
	<table border="1">
		<thead>
			<tr>
				<td>제목</td>
				<td><input type="text" name="title"></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>내용</td>
				<td><input type="text" name="content"></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td><input type="text" name="writerId" th:value="${loginInfo.id}" readonly></td>
			</tr>
			<tr>
				<td><input type="submit" value="작성" ></td>
			</tr>
		</tbody>
	</table>
	</form>
</body>
</html>