<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Success Page</h1>
	<hr>
	<table border="1" cellspacing="0">
	
		<thead>
			<tr>
				<td>username</td>
				<td>password</td>
				<td>name</td>
				<td>role</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="member: ${member}">
				<td th:text="${member.username}"></td>
				<td th:text="${member.password}"></td>
				<td th:text="${member.name}"></td>
				<td th:text="${member.role}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>